* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font-family: monospace;

  --color-background-primary: #0d1117;
  --color-background-secondary: #161b22;
  --color-background-blury: #161b2284;
  --color-text-primary: #f4f8fb;
  --color-text-secondary: #cac7c7;
  --color-accent: #58a6ff;
  --color-accent2: #d69d85;
  --color-accent3: #a371f7;
  --color-accent4: rgb(34, 115, 208);
  --color-accent-hover: #005cc5;
  --color-border: #30363d;
  --color-error: #f85149;
  --color-success: #3fb950;
  --scroll-thumb: rgb(81, 86, 100);
  --scroll-hover: rgb(143, 147, 160);
  --scroll-track: rgb(12, 12, 20);
}

.searchbar {
  width: 100%;
  font-size: 20px;
}

.searchbar > ul {
  height: fit-content;
  width: 100%;
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  display: none;
  flex-wrap: wrap;
}

.searchbar > ul.true {
  display: flex;
}

.searchbar > ul > li {
  width: fit-content;
  height: 50px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: 1rem;
  font-family: var(--main-font-family);
  letter-spacing: 1.2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar > ul > li:hover {
  background-color: var(--color-accent-hover);
}

.searchbar > ul > li:active {
  transform: scale(0.95);
}

@media screen and (max-width: 200px) {
  .searchbar {
    display: none;
  }
}

.handlediv {
  width: 5px;
  height: 100%;

  position: relative;
}

.resizeHandle {
  width: 1px;
  height: 100%;
  margin-left: 3px;

  position: absolute;
}

.handle {
  width: 30px;
  height: 50px;
  background-color: var(--color-text-secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: -25px;
}

.handle:hover {
  background-color: var(--color-accent3);
}

.handle .reshowbar {
  font-size: 20px;
  transform: rotate(90deg);
}

/* .resizeHandle::after {
  content: ">";
  width: 100%;
  height: 100%;
  background-color: red;
} */
